:root{ 
	/* Colors */
	/* Primary */
	--blue: hsl(223, 87%, 63%);
  
	/* Neutral */
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
  
    /* ### Secondary */

    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);

	/* font */
	--font-family: 'Libre Franklin', sans-serif;
}
*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 300;
    /* width: 100%; */
    
}
ul{
    list-style: none;
}
.main{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.main-top{
    
    max-width: 310px;
    align-self: center;
    margin: 90px 0px 80px 0px;
}
.main-top h1{
    font-weight: 300; 
    margin: 40px 0px 15px 0px;
    padding: 0px 30px 0px 30px;
    font-size: 25px;
    color: var(--gray);
}
.main-top span{
    font-weight: 700; 
    color: var(--very-dark-blue);
}
.main-top-form button,.first_input{
    padding: 15px 0px 15px 0px;
    border-radius: 30px;
    font-size: 15px;
   
}
.input_button{
    box-shadow: 0px 10px 26px 0px hsla(223, 100%, 88%,0.5);

}
.main-top-form{
    position: relative;
    transition: all 0.5s ease;
}
.first_input{
  padding-left: 30px;
  border: 1px solid var(--pale-blue);
  margin: 40px 0px 10px 0px;
  outline: none;
  
}

.first_input-error{
    border: 1px solid var(--light-red);
}
.first_input-margin{
    margin-bottom: 50px;
}
.first_input::placeholder{
    color: hsla(223, 100%, 88%,0.5);
    
}
.main-top-form button{
    color: white;
    background-color: var(--blue) ;
    border: hidden;
}

.main-top-error{
    position: absolute;
    font-size: 12px;
    top: 50%;
    right: 20%;
    color: var(--light-red);
    opacity: 0;
}

.message-visible{
    opacity: 1;
}


.main-img img,.main-top-form button,.first_input{
    width: 100%;
}
.main-img{
    margin: 0px 6%;
}
.main-bottom{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.main-bottom ul{
    display: flex;
    gap: 20px;
    margin: 110px 0px 30px 0px;
    
}
.fa-brands{
    font-size: 18px;
    color: var(--blue);
    padding: 7px;
    border-radius: 50%;
    border: 1px solid hsla(0, 0%, 59%,0.2);
}
.fa-facebook-f{
    padding: 7px 11px 7px 11px;
}
.main-bottom p{
    margin-bottom: 40px;
    font-size: 12px;
    color: var(--gray);
}
.fa-brands:hover,.main-top-form button:hover{
    cursor: pointer;
}
.fa-brands:hover{
    background-color: var(--blue);
    color: white;
}
.input_button:hover{
    transform: translate(-1px, -1px);
}
.input_button:active{
    transform: translate(1px,1px);
}
@media screen and (min-width: 800px){
    body{
        font-size: 18px;   
    }
    .main-top{
        max-width: 700px;
    }
    .main-top h1{
        font-size: 45px;
    } 
    .main-top-form{
        display: flex;
        gap: 15px;
        /* align-items: center; */
       margin-top: 30px; 
    }
    .first_input{
        margin: 0px;
        width: 70%;
        /* padding-right: 50%; */
    }
    .first_input-margin{
        margin-bottom: 0px;
    }
    .main-top-form button{
        width: 30%;
    }
    .main-top-error{
        top: 110%;
        right: 55%;
    }
    
}